@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;600;700&display=swap');

/* HEADER */
.header {
    background: #043873;
    height: 92px;
    width: 100%;
    position: relative;
}

.logo {
    position:absolute;
    margin-top: 25px;
    margin-left: 100px;
}

.navegacao {
    font-family: 'DM Sans', sans-serif;
    width: 500px;
    font-size: 16px;
    color: white;
    
    display: flex;
    justify-content: space-around;
    margin-left: 500px;
    padding-top: 35px;
}

.botoes {
    display: flex;
    justify-content: end;
    margin-right: 100px;
    margin-top: -40px;
    column-gap: 25px;
}

.botao1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #043873;
    background-color: #FFE492;
    width: 126px;
    height: 60px;
    border-radius: 8px;
    border-color: transparent;
}

.botao2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: white;
    background-color: #4F9CF9;
    width: 227px;
    height: 60px;
    border-radius: 8px;
    border-color: transparent;
}

/* MAIN 1 */

.pagina1 {
    background-color: #043873;
    background-image: url(./img/Desktop/Element.png);
    border-top: 1px solid #4f9bf923;
    height: 700px;
    }

.conteudo-central {
    font-family: 'Inter', sans-serif; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 300px;
    margin-left: 100px;
    row-gap: 25px;
}

.conteudo-central h1 {
    font-weight: 700px;
    font-size: 44px;   
}

.conteudo-central h2 {
    font-weight: 400px;
    font-size: 12px;
    font-style: normal;
}

.conteudo-central button {
    margin-top: 20px;
}

/* MAIN 2 */

.img-pagina2 img {
    width: 500px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 200px;
    display: inline-block;
}

.documento-pagina2 img{
    width: 500px;
    margin-top: 280px;
    margin-left: 115px;
}

.pagina2 {   
    display: flex;
}

.botao-page2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: white;
    background-color: #4F9CF9;
    width: 187px;
    height: 60px;
    border-radius: 8px;
    border-color: transparent;
    margin-top: 25px;
    margin-left: 115px;
}

.footer {
    background-color: #043873;
    height: 100px;
    width: 100%;
}